<header>
<h2><%= @user.username %>'s Profile</h2>
<% if @user.followers.include? current_user %>
  <%= button_to "Unfollow #{@user.username}", follow_user_path(@user), method: :delete %>
<% else %>
  <%= button_to "Follow #{@user.username}", follow_user_path(@user) %>
<% end %>

<p><i><%= @user.username %> has <%= pluralize(@user.followers.count, "follower") %></i></p>
<p><i><%= @user.username %> is following <%= pluralize(@user.followed_users.count, "user") %></i></p>
</header>

<br>

<section>
  <h2><%= @user.username %>'s Shouts</h2>
  <%= render @user.shouts %>
</section>

