<h1><%= current_user.username %>'s Dashboard</h1>

<section>
  <h3>Create Text Shout</h3>
  <fieldset style="width: 400px">
  <%= form_for @text_shout do |form| %>
    <div>
      <%= form.label :body, "Text: " %>
      <%= form.text_field :body %>
      <%= form.submit "New Text Shout" %>
    </div>
  <% end %>
  </fieldset>
</section>

<section>
  <h3>Create Photo Shout</h3>
  <fieldset style="width: 400px">
  <%= form_for @photo_shout do |form| %>
    <div>
      <%= form.label :url, "url: " %>
      <%= form.text_field :url %>
      <%= form.submit "New Photo Shout" %>
    </div>
  <% end %>
  </fieldset>
</section>


<h2>Your Timeline</h2>
<div>
  <%= render @shouts %>
</div>

<%= paginate @shouts %>

